html, body {
    height: 100%;
    margin: 0;
    /* Image attribution to Dapple Designers on Pixabay */
    background-image : url('../assets/map_bg.png');
    background-size: 960px 568px;
    background-repeat:no-repeat;
    background-position:center bottom
}


/* Login / Signup Page */
.centering-wrapper {
    display: flex;
    height: 75%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 258px;
}

.signup-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 438px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.footer-links > a {
    font-size:20px;
    text-decoration:none;
    font-family: "Open Sans";
    font-weight:bold;
}


/* LocationSearch Page */
.centering-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 10%;
}

.input-row > * {
    margin: 0 4px;
}

.output-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90%;
    align-items: center;
}

.table-query, .map {

    width: 45%;
    height: 95%;
    justify-content: end;
    background-color: #FFF;
    overflow:hidden;
}

.key-row {
    text-align: left;
    color:#fff;
    background:#0096FE;
    height:60px;
    justify-content: center;
}

.key-row > * {
    margin: auto;
    font-size: 18px;
}


table {
    display: flex;
    flex-direction: column;
    justify-content:start;
    font-family: "Open Sans";
}

tr {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    height:3em;
    align-items: center;
}

td {
    padding-left: 10px;
}

td:first-child {
    padding-left:20px;
    width: 30%;
}

td:nth-child(2) {
    width: 30%;
}

td:nth-child(3) {
    width: 10%;
}

td:nth-child(4) {
    width: 15%;
}

td:nth-child(5) {
    width: 15%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

/* General object styles */
.title {
    font-family:"Chivo";
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

input {
    height: 40px;
    border: 2px solid #CCC;
    border-radius:5px;
    font-size: 18px;
    padding-left:5px;
    color:#555;
    font-family: "Open Sans";
}

input::placeholder {
    font-size: 18px;
    color: #AAA;
}

input:placeholder-shown {
    padding-left:5px;
}

.help-container {
    width: 100%;
    height: 0px;
    position:relative;
}

.help-message {
    height: 70px;
    top: 158px;

    background-color:#444444;
    border:0px;
    border-radius:5px;
    display:none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    color:white;    
    font-size:16px;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    padding:3px;
    text-align:center;
    position:absolute;
}

.error-message {
    height: 45px;
    background-color:#FF0000;
    border:0px;
    border-radius:5px;
    display:none;
    justify-content: center;
    align-items: center;
    color:white;    
    font-size:16px;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    padding:3px;
    text-align:center;
}

.submit-button {
    height: 45px;
    background-color:#0096FE;
    color: white;
    border:0px;
    font-size:18px;
    border-radius:5px;
}

.submit-button:hover {
    background-color:#0A70BA;
}